{{!-- ---------------------------  this file show details of all dealer inthe database  in a table
it requires dealers data as array 
 --}}
<h4 class="m-4">All dealers </h4>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">no</th>
            <th scope="col">Name of the dealer</th>
            <th scope="col">store name</th>
            <th scope="col">location</th>
            <th scope="col">details</th>
        </tr>
    </thead>
    <tbody>
        {{#each dealers}}
        <tr>
            <td>{{inc @index}}</td>
            <td>{{this.name}}</td>
            <td>{{this.store}}</td>
            <td>{{this.location}}</td>
            <td><a href="/admin/getdealers/dealer/{{this._id}}">details</a></td>
        </tr>
        {{/each}}
</table>