<style>
    body {
        width: 100vw;
        font-family: 'Courier New', Courier, monospace;
        margin: 0;
        padding: 0;
    }

    .login p,
    .login input {
        display: block;
        text-align: center;
        margin: 10px auto;
        width: 80%;
        padding: 10px 0;
        margin: 20px auto;

    }

    .login input {
        font-size: 0.8rem;
        border: 1px solid rgb(167, 164, 164);
        border-radius: 4px;
    }

    .login input[type='submit'] {
        background-color: rgb(25, 176, 11);
        color: white;
        margin: 30px auto;

    }

    .login {

        width: 80%;
        max-width: 300px;
        text-align: center;
        align-items: center;
        border: 1px solid rgb(167, 164, 164);
        border-radius: 4px;
        margin: 40px auto;

    }

    input:focus {
        outline: rgb(25, 176, 11);
    }

    .heading {

        font-size: 1.2rem;
        font-weight: 550;
    }

    .error {
        width: 80%;
        max-width: 400px;
        background-color: rgb(247, 112, 112);
        color: white;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
        margin: 10px auto 20px;
    }

    nav {
        background-color: rgb(218, 214, 218);
        height: 2.6rem;
        font-size: 1.7rem;
        padding: 6px;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    nav span {
        font-weight: 600;
        color: rgb(25, 176, 11);
    }
</style>
<nav>
    <span>Big Mart</span>
</nav>
{{#if signup}}
{{!-- ------------------ section for signup ------------- --}}
{{!-- ----------------------sign up ----------------------------  --}}
<div id="sign-up" class="login">
    <form action="{{route}}" method="post">
        <p class="heading">{{formHeading}}</p>
        <input type="email" name="email" placeholder=" email">
        <input type="password" name="password" placeholder=" password">
        <input type="submit" value="Log in">
    </form>
    {{#if loginroute}} <p>Already have an account <a href="">login</a></p>
    {{/if}}
</div>
{{else}}
{{#if errmsg}}
<div class="error">
    {{errmsg}}
</div>
{{/if}}
{{!--  -------------------------------login-----------------------  --}}
<div id="login" class="login">
    <form action="{{route}}" method="post">
        <p class="heading">{{formHeading}}</p>
        <input type="text" {{#if Admin}} name="name" placeholder="username or email" {{else }} name="email"
            placeholder="email" {{/if}}>
        <input type="password" name="password" placeholder=" password">
        <input type="submit" value="Log in">
    </form>
    {{#if signuproute}} <p>don't have an account <a href="">signup</a></p>
    {{/if}}
</div>
{{/if}}