<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.css"
        integrity="sha512-949FvIQOibfhLTgmNws4F3DVlYz3FmCRRhJznR22hx76SKkcpZiVV5Kwo0iwK9L6BFuY+6mpdqB2+vDIGVuyHg=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.css"
        integrity="sha512-w+u2vZqMNUVngx+0GVZYM21Qm093kAexjueWOv9e9nIeYJb1iEfiHC7Y+VvmP/tviQyA5IR32mwN/5hTEJx6Ng=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/main.css">
    {{#if user}}
    <link rel="stylesheet" href="/css/style3.css">
    {{else if dealer}}
    <link rel="stylesheet" href="/css/style2.css">
    {{else if admin}}
    <link rel="stylesheet" href="/css/style.css">

    {{/if}}
    <script src="https://kit.fontawesome.com/99f563362d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Big Mart</title>
</head>

<body>
    <script>
        function showLoder(id) {
            document.getElementById(id).querySelector('.Loader').style.visibility = 'visible'
        }
        function hideLoder(id) {
            document.getElementById(id).querySelector('.Loader').style.visibility = 'hidden'
        }
        function sleep() {
            return new Promise((resolve, reject) => {
                setTimeout(() => resolve('slept'), 5000)
            })
        }
    </script>
    {{#if user}}
    {{> extrastuf}}
    {{else }}
    {{> loading-animation}}
    {{/if}}
    {{{body}}}

    <!-- Optional JavaScript -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js"
        integrity="sha512-9pGiHYK23sqK5Zm0oF45sNBAX/JqbZEP7bSDHyt+nT3GddF+VFIcYNqREt0GDpmFVZI3LZ17Zu9nMMc9iktkCw=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.js"
        integrity="sha512-oqBsjjSHWqkDx4UKoU+5IUZN2nW2qDp2GFSKw9+mcFm+ZywqfBKp79nfWmGPco2wzTWuE46XpjtCjZ9tFmI12g=="
        crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    {{#if user}}
    <script src="/js/userScript.js"></script>
    {{else if dealer}}
    <script src="/js/dealerScript.js"></script>
    {{else if admin}}
    <script src="/js/adminScript.js"></script>
    {{/if}}
</body>

</html>