<div id="snackbar">Some text some message..</div>
{{!------------- -----------left side of page with all links ---------------------- --}}
<div class="left-side">
    <p class="store "><i style="color: rgb(40, 129, 253);" class="fas fa-store"></i> {{dealer.store}} </p>
    <p onclick="ShowTab(event,'orders-tab','tab','tablink')" class="orders tablink  active"><i class="fas fa-list"></i>
        Orders</p>
    <p onclick="ShowTab(event,'ordershistory-tab','tab','tablink')" class="order-histery tablink"><i
            class="fas fa-file-alt"></i> Order
        History</p>
    <p onclick="ShowTab(event,'products-tab','tab','tablink')" class="products tablink"><i
            class="fas fa-cloud-meatball"></i> Products
    </p>
    <p onclick="ShowTab(event,'user-tab','tab','tablink')" class="users tablink"><i class="fas fa-user-friends"></i>
        Users</p>
    <p class="feedback tablink"><i class="far fa-comments"></i> Complaints</p>
    <p onclick="ShowTab(event,'settings-tab','tab','tablink')" class="settings tablink"><i class="fas fa-cog"></i>
        Settings</p>
    <p class="left-link"> <a style="color: rgb(228, 224, 224);text-decoration: none;" href="/dealer/logout"><i
                class="fas fa-sign-out-alt"></i> logout</a>
</div>

{{!-- ------------------------Right side ------------------------}}
<div class="right-side">
    <div id="orders-tab" class="tab orders-tab">
        <p class="heading"><i class="fas fa-list"></i> Orders </p>
        <div class="orders">
            <div class="order">
                <div class="user">shahul palamadathil</div>
                <div class="address">
                    <i class="fas fa-map-marker-alt"></i>
                    palamadthil house , puthiyath puraya , 676305 pin
                </div>
                <div class="time">just now</div>
                <div class="status">
                    <select id="order-status" value='pending' name="status">
                        <option value="pending">pending</option>
                        <option value="out for delivery">
                            out for delivery</option>
                        <option value="confirmed">confirmed</option>
                        <option value="rejected">rejected</option>
                        <option value="delivered">delivered</option>
                        <option value="delayed">delayed</option>
                    </select>
                    <button>submit</button>
                </div>
                <div class="view">View details</div>
                <div class="total">
                    <p class="cost">Total cost <span>400</span></p>
                    <p class="item">Total item <span>12</span></p>
                </div>
            </div>

        </div>
    </div>
    {{!-- ----section for order history --}}
    <div id="ordershistory-tab" class="tab ordershistory-tab">
        <p class="heading"><i class="fas fa-file-alt"></i> Orders History </p>
        <div class="history">
            <div class="order">
                <div class="user">shahul palamadathil</div>
                <div class="address">
                    <i class="fas fa-map-marker-alt"></i>
                    palamadthil house , puthiyath puraya , 676305 pin
                </div>
                <div class="time">just now</div>
                <div class="feedback">
                    <span class="rating">4 ✰</span>
                    <span class="comment">Exelent</span>
                </div>
                <div class="view">View details</div>
                <div class="total">
                    <p class="cost">Total cost <span>400</span></p>
                    <p class="item">Total item <span>12</span></p>
                </div>

            </div>
        </div>
    </div>
    {{!-- ------------------------------------- --}}

    {{!-- ________________section for listing products______________ --}}
    <div id="products-tab" class="tab products-tab">
        <p class="heading"><i class="fas fa-cloud-meatball"></i> Products
            <span class="prod-links active"
                onclick="ShowTab(event,'section-all-product','product-section','prod-links')">All
                products</span>
            <span class="prod-links" onclick="ShowTab(event,'section-addproduct','product-section','prod-links')">Add
                products</span>
            <span>Edit products</span>
            <span>Stocks</span>
        </p>
        <div class="products">
            <section class="product-section" id="section-all-product">
                <div class="product headings">
                    <p class="name">Name</p>
                    <p class="catogory">Catogory</p>
                    <p class="price">Price</p>
                    <p class="stock">Stock</p>
                    <p style="margin-left: 70px;" class="action">Actions</p>
                </div>
                {{#each dealer.products}}
                <div id="{{this._id}}" class="product">
                    <img src="/images/products/{{this.prodImage}}" alt="">
                    <p class="name">{{this.name}} </p>
                    <p class="catogory">{{this.catogory}}</p>
                    <p class="price">{{this.price}} </p>
                    <p class="stock">{{this.stock}} <span>{{this.unit}}</span> </p>
                    <p class="action">
                        {{#if this.status}}
                        <button data-id="{{this._id}}" data-index="{{@index}}" onclick="changeStatus(event,'false')"
                            style="background-color: rgb(174, 85, 2);">Disable</button>
                        {{else}}
                        <button data-id="{{this._id}}" data-index="{{@index}}" onclick="changeStatus(event,'true')"
                            style="background-color: rgb(2, 174, 162);">Enable</button>
                        {{/if}}
                        <button onclick="showEditform({{@index}})"
                            style="background-color: rgb(2, 174, 162);">Edit</button>
                        <button onclick="showAddStock({{@index}})" style="background-color: black;">Stock</button>
                        <button onclick="deleteProduct('{{this._id}}')" style="background-color: black;">Delete</button>
                    </p>
                </div>
                {{/each}}
            </section>
            <section style="display: none;" class="product-section" id="section-addproduct">
                <form action="" id="addproduct" enctype="multipart/form-data" autocomplete="off" method="post">
                    <p class="form-title">Add product</p>
                    <input type="file" name='img' accept="image/*" required placeholder="add image">
                    <input type="text" name="name" placeholder="Name">
                    <input id="firstInput" oninput="showSugession(event,this.value)" type="text" name="catogory"
                        placeholder="Catogory">
                    <input type="number" min="1" name='price' step="0.01" placeholder="Price">
                    <input type="number" min="1" name="stock" placeholder="Stock">
                    <select name="unit" required>
                        <option value="" selected disabled>select unit</option>
                        <option value="kg">kg</option>
                        <option value="no">no</option>
                    </select>
                    <input type="submit" value="add Item">
                </form>
                <form id="addProductsbycatogory" autocomplete="off" id="add-products-form" action="" method="post">
                    <p class="form-title">Add products by catogory</p>
                    <input type="number" min="1" placeholder="No of product" name="noofproducts">
                    <input id='secondinput' oninput="showSugession(event,this.value)" type="text" name="catogory"
                        placeholder="Catogory">
                    <select name="unit" required>
                        <option value="" selected disabled>select unit</option>
                        <option value="kg">kg</option>
                        <option value="no">no</option>
                    </select>
                    <input type="submit" value="submit">
                </form>
                <div id="sugessiondiv" class="sugessiondiv">

                </div>
            </section>
        </div>
    </div>

    {{!-- ___________Section ______ for _________custom_____user --}}
    <div id="user-tab" style="background-color: rgb(203, 236, 250);" class="tab user-tab ">
        <p class="heading"><i class="fas fa-user-friends"></i> Custom Users</p>
        <div class="headings">
            <p class="name">Name</p>
            <p class="address">Address</p>
            <p class="no-of-orders">No Of Order</p>
            <p class="action">Remove User</p>
        </div>
        <div style="background-color: rgb(203, 236, 250);" class="user">
            <div class="each-user">
                <p class="name">Mohammed shahul <br>
                    <span style="color: blue;">9605020766</span>
                </p>
                <p class="address">aghghaga jhaghagha gahgha j, hh87676 pin</p>
                <p class="no-of-orders">10 <span style="font-size: 0.8rem;">no</span></p>
                <i class="close far fa-times-circle"></i>
            </div>
            <div class="each-user">
                <p class="name">Mohammed shahul <br>
                    <span style="color: blue;">9605020766</span>
                </p>
                <p class="address">aghghaga jhaghagha gahgha j, hh87676 pin</p>
                <p class="no-of-orders">10 <span style="font-size: 0.8rem;">no</span></p>
                <i class="close far fa-times-circle"></i>
            </div>
        </div>

    </div>
    {{!-- _____________________________________________________________________ --}}
    {{!-- __________________section for settings_____________________ --}}
    <div id="settings-tab" class="tab settings-tab">
        <p class="heading"><i class="fas fa-cog"></i> Settings <span onclick="changePassword()"
                class="changePaswword">Change Password</span></p>
        <form action="" class="update-time">
            <span>Open Time</span>
            <span>Closing Time</span><br>
            <input readonly value="{{dealer.open}}" type="text" id="openTime">
            <input readonly value="{{dealer.close}}" type="text" id="closeTime">
            <input type="submit" onclick="showUpdateTime(event)" value="Update">
        </form>
        <form class="form" action="" method="post" id="update-time">
            <p>Change Time</p>
            <div class="topic">Open time</div>
            <input type="number" placeholder="Hour" required min="1" max="12" name="hr">
            <input type="number" placeholder="Minuts" required min="0" max="60" name="mn">
            <select name="ampm">
                <option value="AM" selected>AM</option>
                <option value="PM">PM</option>
            </select> <br>
            <div class="topic">Close time</div>
            <input type="number" placeholder="Hour" required min="1" max="12" name="hr">
            <input type="number" placeholder="Minuts" required min="0" max="60" name="mn">
            <select name="ampm">
                <option value="AM">AM</option>
                <option value="PM" selected>PM</option>
            </select>
            <input type="submit" value="Update">
            <i style="position: absolute;top: 10px;left: 90%;color: red;" onclick="closePopup('update-time')"
                class="far fa-times-circle"></i>
        </form>
        <div id="shop-status" class="check-box ">
            {{#if dealer.openStatus}}
            <p style="color: grey;">Store is Live uncheck the button to close </p>
            <label class="switch">
                <input onclick="closeShop(false)" type="checkbox" checked>
                <span class="slider round"></span>
            </label>
            {{else }}
            <p style="color: red;">Store is closed check the button to open </p>
            <label class="switch">
                <input onclick="closeShop(true)" type="checkbox">
                <span class="slider round"></span>
            </label>
            {{/if}}
        </div>
        <div class="personal-info">
            <i onclick="toggleEdit()" class="fas fa-user-edit"> <span>edit</span></i>
            <img id="personalinfo-pro" class="pro-pic" onchange="cropImgFunc(event)"
                src="/images/pro-pics/{{dealer.profilePic}}" alt="No profile">
            <form action="" id="edit-dealer-info" class="edit-dealer-info inactive">
                <p class="form-heading"> Personal details</p>
                <input type="text" name="name" value="{{dealer.name}}">
                <input type="email" name="email" readonly value="{{dealer.email}}">
                <input type="text" name="store" value="{{dealer.store}}">
                <input type="text" name="location" value="{{dealer.location}}">
                <input type="phone" name="phone" value="{{dealer.phone}}">
                <textarea name="address" cols="30" rows="3"> {{dealer.address}} </textarea>
                <input type="file" name="image" accept="image/*" onchange="changeImage(event,'personalinfo-pro')"
                    class="change-pic">
                <input type="submit" value="Edit">
            </form>
        </div>
    </div>
</div>
{{!-- --------------------------------- section order deatails--------------------------- --}}
<div id="order-details" class="order-details">
    <div class="order-info">
        <i class="close far fa-times-circle"></i>
        <i class="fas fa-map-marker-alt"></i>
        <div class="order-id">order_ID - tet566545wgygt6</div>
        <div class="ordered-items">
            <i class="fas fa-angle-up"></i>
            <i class="fas fa-angle-down"></i>
            <div class="each-item heading">
                <p>Price</p>
                <p></p>
                <p></p>
                <p>Qnt.</p>
                <p>Total</p>
            </div>
            <div class="each-item">
                <p class="price">₹ 120/kg</p>
                <img src="/images/apple.png" alt="">
                <p class="name">Apples</p>
                <p class="qnt">500 gm</p>
                <p class="total">₹ 60</p>
            </div>
            <div class="each-item">
                <p class="price">₹ 120/kg</p>
                <img src="/images/orange.jpg" alt="">
                <p class="name">Oranges</p>
                <p class="qnt">500 gm</p>
                <p class="total">₹ 60</p>
            </div>
            <div class="each-item">
                <p class="price">₹ 120/kg</p>
                <img src="/images/Brown-eggs.jpg" alt="">
                <p class="name">eggs</p>
                <p class="qnt">500 gm</p>
                <p class="total">₹ 60</p>
            </div>
        </div>
        <div class="total total-cost">
            <p class="cost">Total cost <span>400</span></p>
            <p class="item">Total item <span>12</span></p>
        </div>
        <div class="address">
            mohammed shahul palamadathil , palamadthilhouse , 676305 pin
        </div>
        <button>Print</button>
    </div>
</div>

{{!-- ----------- ------------edit product form --------------- --}}
<form class="form" autocomplete="off" style="visibility: hidden;" action="" id="edit-products">
    <p class="heding">Edit product</p>
    <img src="" alt="no">
    <input value="name" class='ok' type="text" name='name'>
    <input id="editcatogoryinput" value="catogory" oninput="showSugession(event,this.value)" class='ok' type="text"
        name="catogory">
    <input value="00" type="number" class='ok' step="0.01" name="price">
    <input value="00" type="text" readonly class='ok' name="stock">
    <input onchange="changeImage(event)" type="file" name="img" accept="image/*">
    <input type="hidden" name='id' value="" class="ok">
    <input type="hidden" name='index' value="" class="ok">
    <input type="submit" value="Edit">
    <i style="position: absolute;top: 10px;left: 95%;color: red;" onclick="closePopup('edit-products')"
        class="far fa-times-circle"></i>
</form>
<form class="form" style="visibility: hidden;" action="" id="edit-stock">
    <p class="heading">Add stock</p>
    <p class="oldstock">Old stocks <span>35</span></p>
    <input type="number" placeholder="add new stocks" name="stock">
    <input type="submit" value="Add stock">
    <input type="hidden" name="id" value="">
    <input type="hidden" name="index" value="">
    <i style="position: absolute;top: 10px;left: 90%;color: red;" onclick="closePopup('edit-stock')"
        class="far fa-times-circle"></i>
</form>
{{!-- ----------- Section to change password------------}}
<form action="" class="form" id="edit-password">
    <p class="topic">Change password</p>
    <input type="password" placeholder="Old password" name="oldpassword">
    <input type="password" placeholder="New password" name="password">
    <input type="submit" value="Update Password">
    <i style="position: absolute;top: 10px;left: 90%;color: red;" onclick="closePopup('edit-password')"
        class="far fa-times-circle"></i>
</form>